html {
    overflow: hidden;
}
#wrapper {
    height: 100vh;
    background-image: url(image/blur.png), url(image/blur.png);
    background-position-x:  580px, -180px ;
    background-position-y: -155px, 530px;
    background-repeat: no-repeat, no-repeat;
    
}
    .container{
        width: 1150px;
        margin: 0 auto;
    }
    .logo {
        text-align: center;  
    }

    #header {
        padding: 20px 0 20px 0;
        width: 100%;
    }

    .nav {
        text-align: center;
    }

    ul.nav li {
        font-size: 16px;
        border: solid black;
        border-radius: 2px;
        display: inline-block;
        width: 100px;
        height: 25px;
        margin-left: -.39em;
        background: #efefef;
        vertical-align: middle;
    }

    ul.nav li:hover {
        background: #a5a3a3;
    }

    ul.nav li:nth-child(4){
        width: auto;
        height: auto;
        background: none;
        border:none;
    } 
    #hand {
        position: absolute;
        right: 150px;
        top: 80px; 
    }

    .home {
        text-align: center;
    }
    p {
         width: 700px;
         display: inline-   block;
    }

    #footer { 
        height: 100px;
        width: 100vw;
        margin: 0 auto;
        background: #c9c8c8;
        opacity: 0.5;
        position: absolute;
        bottom: 0;
    }
   