
html, body {
    height: 100%;
}
#wrapper {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-image: url(image/blur.png), url(image/blur.png)/* , url(image/hand.png) */;
    background-position-x:  580px, -180px, 1450px; 
    background-position-y: -155px, 530px, 70px;
    background-repeat: no-repeat, no-repeat;
}
    .container{
        width: 1150px;
        margin: 0 auto;
    }
    .logo {
        text-align: center;  
    }

    #header {
        padding: 20px 0 20px 0;
        width: 100%;
    }

    .nav {
        text-align: center;
    }

    ul.nav li {
        font-size: 16px;
        border: solid black;
        border-radius: 2px;
        display: inline-block;
        width: 100px;
        height: 25px;
        margin-left: -.39em;
        background: #efefef;
        vertical-align: middle;
    }

    ul.nav li:hover {
        background: #a5a3a3;
    }

    ul.nav li:nth-child(4){
        width: auto;
        height: auto;
        background: none;
        border:none;
    } 
    /* удалить если будем убирать руку */
    /* #hand {
        position: absolute;
        right: 150px;
        top: 80px; 
    } */

    .home {
        text-align: center;
        /* margin-top:80px */
    }
    p {
         width: 700px;
         display: inline-block;
    }

    #control {
        background-image: none;
    }

    #footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;    
        height: 100px;     
    }

    #transparency  { 
        height: 100px;
        width: 100%;
        margin: 0 auto;
        background: #c9c8c8;
        opacity: 0.5;
        position: absolute;     
    }
    #sprite{
        position: absolute;
        width: 250px;
        height: 100px;
        display: inline-block;    
        text-align: center;   
    }
    [class^="icon"]:hover {
        text-decoration:none;
        /* color: rgb(195, 0, 255); */
        }
    [class^="icon"] {
        font-family: "icomoon";
        display: inline-block;
        font-size: 35px; 
        margin: 30px 5px; 
        color: #000;
    }
    .icon-instagram::before {
        content: "\e900";  
    }

    a.icon-instagram:hover {
        color: rgb(195, 0, 255);
    }
    .icon-pinterest::before {
        content: "\e901";
    }
    a.icon-pinterest:hover {
        color: rgb(185, 3, 79);
    }
    .icon-facebook::before {
        content: "\e902";
    }
    a.icon-facebook:hover {
        color: rgb(70, 124, 224);
    }

    #adress{
        position: absolute;
        width: 150px;
        height: 100px;
        display: inline-block;
        margin-left:230px;
        /* text-align: center; */
        font-family: sans-serif;
        font-size: 0.9em;
        vertical-align: middle;
        margin-top: 10px;
        color: #000;
    }